<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/loginForm.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <script>
        function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(';').shift();
}

    window.onload = function(){
          const rememberedId = getCookie("remember");
          console.log("document.cookie()");
        if (rememberedId) {
            document.querySelector("input[name='remember']").checked = true;
            document.querySelector("#id").value = rememberedId;
        }
    }

    </script>
</head>
<body>

    <!-- 상단 메뉴 - fragment -->
    <div th:replace="~{layout/header :: header}"></div>

    <div class="container">
        <h1>로그인</h1>

        <form th:action="@{/member/login}" method="post">
            <label for="id">ID</label>
            <input type="text" id="id" name="id" required>
            <label for="pw">PW</label>
            <input type="password" id="pw" name="pw" required>
            <label><input type="checkbox" name="remember" >ID기억하기</label>
            <input type="submit" value="로그인">
        </form>
    </div>

</body>
</html>