<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    퇴근!

    <a href="lom/logger">로그</a>

    <ul>
        <li><a href="lom/lombok">롬복 사용</a></li>
    </ul>
    <ul>
        <li><a href="param/view1">파라파라1</a></li>
        <li><a href="param/view2">파라파라2 post para</a> </li>
        <li><a href="param/view3">파라파라3 method</a> </li>
        <li><a href="param/info4">파라파라4 </a> </li>
        <li><a href="param/model">모델</a> </li>

    </ul>
    <ul>
        <li>세션
            <ul>
                <li><a href="ss/session1">Session에 저장</a> </li>
                <li><a href="ss/session2">Session에서 읽기</a> </li>
                <li><a href="ss/session3">Session에서 삭제</a> </li>
                <li>session.name: [[${session.name}]]님이 접속중</li>

                <li>session.loginId: [[${session.loginId}]]님이 접속중</li>
                <li><a href="ss/login">로그인하기</a></li>
                <li><a href="ss/logout">로그아웃하기</a></li>
                <li><a href="ss/loginTest">로그인해야 접속 가능한 페이지</a></li>
            </ul>
        </li>
        <li>쿠키
            <ul>
                <li><a href="ck/cookie1">쿠키 저장</a> </li>
                <li><a href="ck/cookie2">쿠키 삭제</a> </li>
                <li><a href="ck/cookie3">쿠키 읽기</a> </li>
            </ul>
        </li>
        <li>세션
            <ul>
                <li><a href="local/save">값 저장</a> </li>
                <li><a href="local/output">저장한 값 확인</a> </li>
                <li><a href="local/delete">저장한 값 삭제</a> </li>
            </ul>
        </li>
    </ul>
</body>
</html>