<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    퇴근!

    <a href="lom/logger">로그</a>

    <ul>
        <li><a href="lom/lombok">롬복 사용</a></li>
    </ul>
    <ul>
        <li><a href="param/view1">파라파라1</a></li>
        <li><a href="param/view2">파라파라2 post para</a> </li>
        <li><a href="param/view3">파라파라3 method</a> </li>
        <li><a href="param/info4">파라파라4 </a> </li>
        <li><a href="param/model">모델</a> </li>

    </ul>

</body>
</html>