<!DOCTYPE html>
<html lang="ko" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        window.onload = function(){
        const form = document.querySelector("form");
        form.addEventListener("submit", function(event){
            let name  = document.querySelector("#name");
            let ssn = document.querySelector("#ssn");
            if(name.value.length < 2) {
                alert('이름 두글자 이상 입력 부탁드림');
                name.focus();
                name.select();
                event.preventDefault();
            }
             if(ssn.value.length != 14) {
                alert('주민번호를 길이에 맞게 입려하세요');
                ssn.focus();
                ssn.select();
                event.preventDefault();
            }
        });
    }

    </script>
</head>
<body>

<!--    이름은 2자이상, 주민등록번호 14자 체크-->
    <h2>개인정보입력</h2>
    <form th:action="@{/ex/info}" method="post"> <!-- on submit -->
        <p>
            이름 <input type="text" name="name" id="name" th:value="${name}">
        </p>
        <p>
            주민등록번호 <input type="text" name="ssn" id="ssn"
                          placeholder="000000-0000000 형식으로 입력"
                            th:value="${ssn}">
        </p>
        <input type="submit" value="입력">
    </form>

</body>
</html>