<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        window.onload = function(){
            // 저장된 값 불러오기
            document.querySelector("#name").value
                        = sessionStorage.getItem("name");
            document.querySelector("#message").value
                        = sessionStorage.getItem("message");

            // 입력할 떄마다 저장
            document.querySelector("#name").addEventListener("input",function(){
                let value = document.querySelector('#name').value;
                sessionStorage.setItem("name", value);
            });
            document.querySelector("#message").addEventListener("input", (e) => {
                sessionStorage.setItem("message", e.target.value);
            });
        }
    </script>
</head>
<body>
        <h2>임시 저장</h2>
        <form>
            이름: <input type="text" id="name">
            메시지: <input type="text" id="message">
            <button type="submit">입력</button>
        </form>
</body>
</html>