<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>select2All.html</title>
    <style>
        th {
            border: 1px solid black;
            background-color: lightgray;
            font-weight: bold;
            width:100px;
        }
        td {
            border: 1px solid black;
            width: 100px;
            padding: 5px;
        }
    </style>
    <script>
        window.onload = function(){
            let buttons = document.querySelectorAll('.delButton');
            for (let i = 0; i < buttons.length; i++){
                buttons[i].addEventListener("click", function(){
                    if( !confirm("삭제 하시겠습니까?")) return;


                    let id = this.dataset.id;
                    location.href = `deleteUser?id=${id}`;
});
}
            document.querySelectorAll('.updateButton').forEach (btn => {

                btn.addEventListener("click", function(){
                    let id  = this.dataset.id;
                    location.href = `update?id=${id}`;

            });
     });
        }
    </script>
</head>
<body>

    <h1>[전체 조회 결과]</h1>

    <table>
        <tr>
            <th>번호</th>
            <th>아이디 조회(QueryString)</th>
            <th>아이디 조회(Thymeleaf)</th>
            <th>아이디 조회(Path)</th>
            <th>삭제(Function)</th>
            <th>삭제(Dataset)</th>
            <th>수정</th>
        </tr>
        <tr th:if="${#lists.isEmpty(personList)}">
            <td colspan="7">조회 결과가 없습니다.</td>
        </tr>
        <tr th:each="person, status : ${personList}">
            <td th:text="${status.count}"></td>
            <td><a th:href="|view?id=${person.id}|"
                    th:text="${person.id}"></a></td>
            <!-- Thymeleaf - Query Parameter 방식 -->
            <!-- <a th:href="@{ /경로(파라미터명1=${값1}, 파라미텀명2=${값2})}></a> -->
            <td><a th:href="@{/view(id=${person.id})}"
                    th:text="${person.id}"></a></td>
            <!-- 3. PathVariable 방식 - RESTful URL 사용에 표준적. -->
            <!-- <a th:href="@{/경로/{이름1}/{이름1}(이름1=${값1}, 이름2=${값2})}"></a> -->
            <td><a th:href="@{/info/{id}(id=${person.id})}"
                   th:text="${person.id}"></a></td>
            <td><a th:href="@{deleteUser(id=${person.id})}">삭제</a></td>
            <td><button type="button" class="delButton"
                        th:data-id="${person.id}">삭제</button></td>
            <td><button type="button" class="updateButton"
                        th:data-id="${person.id}">수정</button></td>
        </tr>
    </table>
</body>
</html>