<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>[수정하기]</h1>

    <div th:if="${person == null}">
        <p><span th:text="${id}"></span>: 없는 아이디입니다.</p>
    </div>

    <form th:action = "@{/update}" method = "post" th:if="${person != null}">
        <input type="hidden" name="id" th:value="${person.id}">
        <table>
            <tr>
                <th>이름</th>
                <td><input type="text" name="name" th:value="${person.name}" required></td>
            </tr>
            <tr>
                <th>나이</th>
                <td><input type="number" name="age" th:value="${person.age}" required></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="저장"></td>
            </tr>
        </table>
    </form>

</body>
</html>