<!DOCTYPE html>
<html xmlns:th="thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<!--<h2 style="text-align: center">[<span th:text="${id}"></span> 의 리플 목록]</h2>-->
<!--<span>전체</span><span th:text="${#lists.size(reply)} + '개'"></span>-->
<!--<a th:href="@{/}" style="float: right;">HOME</a>-->
    <header>
        <h1 th:text="|[ ${id}의 리플 목록 ]|"></h1>
    </header>
    <table class="reply">
        <tr>
            <th>게시글 번호</th>
            <th>작성자</th>
            <th style="width: 300px;">내용</th>
            <th style="width: 150px;">작성일</th>
        </tr>
        <tr>
            <td th:if="${replyList == null or replyList.isEmpty()}"
                class="white center" colspan="4">
                <span th:text="|작성한 댓글이 없습니다.|"></span>
            </td>
        </tr>
        <tr th:each="reply : ${replyList}">
            <td th:text="${reply.replyNum}"></td>
            <td th:text="${reply.memberId}"></td>
            <td class="center">
                <a th:href="@{/board/read(boardNum=${reply.boardNum})}"
                   th:text="${reply.contents}"></a>
            </td>

            <td th:text="${#temporals.format(reply.createDate, 'yy.MM.dd HH.mm')}"
                class="center"></td>
        </tr>



    </table>
    <div id="navigator">
        <form method="get" th:action="@{/board/replyList}">
            <input type="text" name="memberId" th:value="${id}">
            <input type="submit" value="검색">
        </form>
    </div>
</body>
</html>