<!DOCTYPE html>
<html xmlns:th="thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inactive.html</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <!-- <script>
        window.onload = function () {
            document.querySelector("#loginForm")
                .addEventListener("submit", function (e) {
                    const loginForm = document.querySelector("#loginForm");
                    const idInput = document.querySelector("#id");
                    const pwInput = document.querySelector("#password");

                    if (idInput.value === "" || pwInput.value === "") {
                        alert("ID와 비밀번호를 입력하세요.");
                        e.preventDefault();
                        return;

                    }
                });
        }
    </script> -->
</head>

<body>
    <header>
        <h1>[ 휴면 계정 해제 ]</h1>
    </header>

    <section>
        <form id="inactive" th:action="@{/member/inactive}" method="post">
            <table>
                <tr>
                    <td>ID</td>
                    <td><input type="text" name="memberId" th:value="${memberId}" placeholder="ID 입력"></td>
                </tr>

                <tr>
                    <td>Password</td>
                    <td>
                        <input type="password" name="memberPassword" placeholder="비밀번호 입력">
                    </td>
                </tr>

                <tr th:if="${msg} != null">
                    <td colspan="2" class="white">
                        <div class="center errorMsg">
                            <span th:text="${msg}"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="center white">
                        <input type="submit" value="휴면 해제">
                    </td>
                </tr>
            </table>
        </form>
    </section>
</body>

</html>