* {
    font-family: '맑은 고딕';
}

img {
    weight: 150px;
    height: 300px;
    float: left;
    padding: 0 30px 0 0;
}

h1 {
    font-size: 17px;
}

p {
    font-size: 16px;
    line-height: 25px;
}

.accent {
    font-weight: bold;
    color: red;
}