<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ol>
        <li>Lombok & Logger 사용
            <ul>
                <li><a href="lom/logger">Logger 사용</a></li>
                <li><a href="lom/lombok">lombok 사용</a></li>
            </ul>

        </li>
        <li>
            <ul>
                <li><a href="param/view1">GET method로 parameter 전달</a></li>
                <li><a href="param/view2">POST method로 parameter 전달</a></li>
                <li><a href="param/view3">POST method로 parameter 전달 - 객체</a></li>
                <li><a href="param/input4?name=abc&age=111">
                    POST method로 parameter 전달 - Form없이</a></li>
                <li><a href="param/input4">
                    Get method로 parameter 전달 - 파라미터가 없는 경우
                </a> </li>
                <li><a href="param/model">Model 사용하기</a></li>
            </ul>
        </li>
        <!--
            Session vs Cookies
            -웹에서 사용자 상태를유지하기 위해 사용하는 대표적인 기술
            1. Session
                - 사용자 정보는 서버에 저장됨
                -클라이언트는 세션ID만 브라우저가 쿠키로 저장
                * 요청 흐름
                    a.서버가 세션을 생성하고 세션ID 발급
                    b. 그 세션ID를 브라우저 쿠키에 저장해둠
                    c. 이후 모든 요청에 세션ID를 자동 표현
                    d. 서버는 해당 세션ID를 보고 사용자 구분
                -로그인시 유저 정보, 장바구니 등..

            2. Cookie
                -브라우저는 요청을 보낼 때, URL의 path가 쿠키의 path로 시작하면
                 그 쿠키를 자동으로 전송함.
                 -사용자 정보가 브라우저에 저장됨
                 -사용자 PC에 데이터를 저장하므로 보안에 취약
                 -최근 본 상품목록, 아이디저장, 테마 설정 등..

        -->
        <li>세션
            <ul>
                <li><a href="ss/session1">Session에 저장</a> </li>
                <li><a href="ss/session2">Session에서 읽기</a> </li>
                <li><a href="ss/session3">Session에서 삭제</a> </li>
                <li>session.name: [[${session.name}]]님이 접속중</li>

                <li>session.loginId: [[${session.loginId}]]님이 접속중</li>
                <li><a href="ss/login">로그인하기</a></li>
                <li><a href="ss/logout">로그아웃하기</a></li>
                <li><a href="ss/loginTest">로그인해야 접속 가능한 페이지</a></li>
            </ul>
        </li>
        <li>쿠키
            <ul>
                <li><a href="ck/cookie1">쿠키 저장</a> </li>
                <li><a href="ck/cookie2">쿠키 삭제</a> </li>
                <li><a href="ck/cookie3">쿠키 읽기</a> </li>
            </ul>
        </li>
        <!--
            웹 스토리즈(Web Storage)
            HTML5에서 정의된 Web API이며, 브라우저가 제공하는 기능
            서버와의 통신 없이 클라이언트 쪽에서 데이터를 저장

            1. 로컬 스토리지(Local Storage)
            특징:
                영구 저장:데이터는 명시적으로 삭제되지 않는 한 영구 저장.
                브라우저를 닫아도 데잍터 유지

                범위: 도메인단위로 데이터를 저장
                용량: 일반적으로 5MB 정도의 용량
                ex. 사용자 설정, APP 상태 등 영구저장시 유용.
            2. 세션 스토리지(Session Storage)
            특징:
            일시적 저장: 데이터는 현재 세션동안만 유지.
                        브라우저 또는 탭을 닫으면 데이터가 삭제
            범위: 각 브라우저 탭이나 창 별로 독립적 저장.
            용량: 일반적으로 5MB 정도의 용량
            ex. 사용자 UI, form 데이터
        -->
        <li>세션
            <ul>
                <li><a href="local/save">값 저장</a> </li>
                <li><a href="local/output">저장한 값 확인</a> </li>
                <li><a href="local/delete">저장한 값 삭제</a> </li>
            </ul>
        </li>
        <li>타임리프
            <ul>
                <li><a href="th/thymeleaf1">타임리프 문법1</a></li>
                <li><a href="th/thymeleaf2">타임리프 문법2</a></li>
            </ul>
        </li>
        <li>예제
            <ul>
                <li><a href="ex/calc1">계산기</a></li>
                <li><a href="ex/info">주민번호</a></li>
            </ul>
        </li>
    </ol>
</body>
</html>