<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>[GET method로 parameter 전달 ]</h2>

    <form action="input1" method="get">
        <p>ID <input type="text" name="id"></p>
        <p>PW <input type="password" name="password"></p>
        <p>이름 <input type="text" name="name"> </p>
        <p>
            전화
            <input type="text" name="phone">
            <input type="radio" name="com" value="kt" checked>KT
            <input type="radio" name="com" value="skt">SKT
            <input type="radio" name="com" value="lg">LG
        </p>
        <p>
            <input type="submit" value="전송">
            <input type="reset" value="초기화">
        </p>
    </form>
</body>
</html>