<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>폼태그</h2>
    <form action="input1" method="get">
        <p>id<input type = "text" name="id"></input></p>
        <p>password<input type = "password" name="password"></input></p>
        <p>name<input type = "text" name="name"></input></p>
        <p>phone<input type="text" name="phone"></p>

        <p>telecom
            <input type="radio" name="com" value="kt" checked>케이티
            <input type="radio" name="com" value="skt">에스케이
            <input type="radio" name="com" value="lgt">엘지텔레콤
        </p>
        <p>
            <input type="submit" value="전송">
            <input type="reset" value="초기화">
        </p>

    </form>
</body>
</html>