<!DOCTYPE html>
<html xmlns:th="thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminPage.html</title>
</head>

<body>
    <th:block sec:authorize="hasRole('ADMIN')">
        <h1>관리자 페이지입니다.</h1>
    </th:block>

    <th:block sec:authorize="hasRole('USER')">
        <h1>접근 권한이 없습니다.</h1>
    </th:block>

    <a th:href="@{/}">홈으로</a>
</body>

</html>