<!DOCTYPE html>
<html lang="ko" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p th:if="${str} == '문자열'">참이면 보임</p>
    <p th:if="${str} != '문자열'">거짓이면 보임</p>
    <p th:unless="${str} == '문자열ㅇ'">거짓이면 아마 보임</p>

    <div th:each="i,j:${list}" style="border:1px solid">
        <p th:text="${i}"></p>
        <p th:text="${j}"></p>

    </div>
    <p>일반 문장으로 반복</p>
    <p th:each="s : ${list}" th:text="${s}"></p>

    <p>태그 없이 반복</p>
    <th:block th:each="s : ${list}" th:text="${s}"></th:block>

    <p>맵의 모든 값을 출력</p>
    <table>
        <tr th:each="item : ${map}">
            <td>
                <span th:text="${item.key}"></span>
            </td>
            <td>
                <span th:text="${item.value}"></span>
            </td>
        </tr>
    </table>
    <p>맵의 특정 값을 읽을 떄</p>
    <p th:text = "${map.product}"></p>
    <p th:text = "${map.price}"></p>
</body>
</html>