<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ajax2.html</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script>
        $(function(){
            $('#formButton1').on('click', formSubmit1);
            $('#formButton2').on('click', formSubmit2);
            $('#formButton3').on('click', formSubmit3);
            $('#bt1').on('click', getObjectAsString);
            $('#bt2').on('click', getObjectAsJson);
            $('#bt3').on('click', getList);
            $('#bt4').on('click', getJson);
        });

        function formSubmit1(){
            let n = $('#name1').val();
            let a = $('#age1').val();
            let p = $('#phone1').val();

            if (n==''){
                alert('이름을 입력하세요');
                return;
            }
            if(a == '' || isNaN(a)){
                alert('숫자를 입력하세요.');
                return;
            }
            $.ajax({
                url: 'insert1',
                type: 'post',
                data: {name: n, age:a, phone:p},
                success: function(){
                    alert('저장되었습니다.');
                    $('#name1').val('');
                    $('#age1').val('0');
                    $('#phone1').val('');

                },

            })
        }
        function formSubmit2(){
            const formData = {
                name: $('#name2').val(),
                age: $('#age2').val(),
                phone: $('#phone2').val()
            };
            $.ajax({
                url: 'insert2',
                type: 'post',
                data: formData,
                success: function(){
                    alert("저장되었습니다");
                    $('#name2').val('');
                    $('#age2').val('');
                    $('#phone2').val('');
                }
            })
        }
        function formSubmit3(){
            $.ajax({
                url: 'insert3',
                type: 'post',
                // 폼 데이터를 URL 인코딩된 문자열로 직렬화
                // name=John&age=3&phone=1111 형식으로 전송
                data: $('#writeForm3').serialize(),
                success: function(){
                    alert('저장되었습니다.');
                    $('#name3').val('');
                    $('#age3').val('');
                    $('#phone3').val('');
                }
            })
        }
        function getObjectAsString(){
            $.ajax({
                url: 'getObject',
                type: 'get',
                dataType: 'text',
                success: function(ob){
                    alert(typeof ob);

                    let parsed = JSON.parse(ob);
                    alert(typeof parsed);

                    $('#outputDiv1').html(ob);
                },
                error: function(e){
                    alert(JSON.stringify(e));
                }
            })
        }
        function getObjectAsJson(){
            $.ajax({
                url: 'getObject',
                type: 'get',
                dataType: 'json',
                success: function(ob){
                    let str = `
                        받은 객체: ${ob}<br>
                        이름: ${ob.name}<br>
                        나이: ${ob.age}<br>
                        전화: ${ob.phone}
                        `;
                    $('#outputDiv2').html(str)
                }
            })
        }
        function getList(){
            $.ajax({
               url: 'getList',
               type: 'get',
               dataType: 'json',
               success: function(list){
                    let str = `<table>`;
                    $(list).each(function(idx, ob){
                        str += `
                            <tr>
                            <td>${idx}</td>
                            <td>${ob.name}</td>
                            <td>${ob.age}</td>
                            <td>${ob.phone}</td>
                            </tr>
                            `;
                    });
                    str += `</table>`; // close the table
                    $("#outputDiv3").html(str);

               }
            });
        }

        function getJson(){
            let ar = [
                {name: 'aaa', age: 11, phone: '111'},
                {name: 'bbb', age: 22, phone: '222'}
            ];
            let arJson = JSON.stringify(ar);
            console.log(typeof arJson);

            $.ajax({
                url: 'getJson',
                type: 'post',
                data: arJson,
                contentType: 'text/plain',
                dataType: "text",
                success : function(str){
                    let person = JSON.parse(str);
                    let result = `<table>`;

                    $(person).each(function(idx, ob){
                        result += `
                            <tr>
                            <td>${idx}</td>
                            <td>${ob.name}</td>
                            <td>${ob.age}</td>
                            <td>${ob.phone}</td>
                            </tr>
                            `;
                    });
                    result += `</table>`; // close the table
                    $("#outputDiv4").html(result);

                }
            })
        }
    </script>
</head>
<body>

    <h1>[ Ajax 테스트2 - 객체 보내기/받기 ]</h1>

    <p>1. 서버에각각의 Parameter 전달</p>
    <form id="writeForm1">
        이름 <input type="text" id="name1"><br>
        나이 <input type="number" id="age1"><br>
        전화 <input type="text" id="phone1"><br>
        <input type="button" id="formButton1" value="저장">
    </form>

    <p>2. 서버에각각의 Parameter 전달</p>
    <form id="writeForm2">
        이름 <input type="text" id="name2"><br>
        나이 <input type="number" id="age2"><br>
        전화 <input type="text" id="phone2"><br>
        <input type="button" id="formButton2" value="저장">
    </form>

    <p>3. 서버에 OBject로 전달2</p>
    <form id="writeForm3">
        이름 <input type="text" id="name3" name="name"><br>
        나이 <input type="number" id="age3" name="age"><br>
        전화 <input type="text" id="phone3" name="phone"><br>
        <input type="button" id="formButton3" value="저장">
    </form>
    <p>4. 서버로부터 객체의 값을 String으로 받기</p>
    <p><input type="button" id="bt1" value="서버에서 객체 받기"></p>
    <div id="outputDiv1"></div>

    <p>5. 서버로부터 객체의 값을 String으로 받기</p>
    <p><input type="button" id="bt2" value="서버에서 객체 받기"></p>
    <div id="outputDiv2"></div>

    <p>6. 서버로부터 리스트 받기</p>
    <p><input type="button" id="bt3" value="서버에서 객체 받기"></p>
    <div id="outputDiv3"></div>

    <p>7. 서버로JSON 보내고 받기</p>
    <p><input type="button" id="bt4" value="서버에서 객체 받기"></p>
    <div id="outputDiv4"></div>

</body>
</html>