<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <style>
        #msg {
            width: 200px;
            display: inline-block;
        }
        label {
            width: 50px;
            display : inline-block;
        }
        button {
            width: 100px;
        }
    </style>
    <script>
        $(function() {
            function showMsg(text, color, disabled){
                $('msg').text(text).css('color', color);
                $('#submitButton').prop('disabled', disabled);
            }
            const idInput = $('#id');
            idInput.on('input', ()=>{
                const val = idInput.val();
                if(val.length < 3 ){
                    showMsg("3글자 이상 입력하세요", 'red', true);
                } else {
                    $.ajax({
                        url: `/idCheck/${val}`,
                        type: 'get',

                        success: function(e){
                            if(e){
                                showMsg('해당 회원이 있읍니다.', 'red', true);
                            } else {
                                showMsg('회원 가입 ㄱㄱ', 'green', false);
                            }

                        }
                    });
                    }
            });


        $('#sendBtn').on('click', function(){

        const data = { id: $('#id').val(), name: $('#name').val() };
        $.ajax({
            url: '/submit',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(res){
                alert(res);
            }
        });
    });
})
    </script>
</head>
<body>
    <h2>[ ID 중복 확인 ]</h2>
    ID   <input type="text" id="id" ><span id="msg"></span><br>
    이름 <input type="text" id="name"><br>
    <button id="sendBtn">가입</button>
</body>
</html>