<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <style>
        #view {
            font-size: 30pt;
            color: #a74e6b;
            vertical-align: middle;
            margin: 10px;
        } img {
            vertical-align: middle;
        }
    </style>
    <script>
        $(function() {
            list();

            $('#icon_like').click(function() {
                const num = 1;

                $.ajax({
                    url: `/posts/${num}/like`,
                    type: 'post',
                    dataType: 'text',
                    success: function(cnt){
                        $('#view').text(cnt);
                    }
                });
            });
        });
        function list(){
            const num = 1;
            $.ajax({
                url: `/posts/${num}/like`, //1번 게시글의 추천 수 상태 조회
                type: 'get',
                success: function(cnt){
                    $('#view').text(cnt);
                }
            });
        }
    </script>
</head>
<body>
    <h2>[ 추천 ]</h2>
    <span id="view"> 0 </span>
    <button id="icon_like"><img th:src="@{/img/icon_like.png}" alt="좋아요"></button>


</body>
</html>