<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
</head>
<body>

<h1>[ spring1 ]</h1>

<pre>
    스프링 부트 기본 프로젝트 생성
    Controller 정의, HTML 작성.
    정적 리소스 사용 (이미지, CSS, JS)
</pre>

    <ol>
        <li><a href="image">정적 리소스 사용 - 이미지</a></li>
        <li><a href="sub/image">정적 리소스 사용 - 이미지2</a></li>
        <li><a href="css">정적 리소스 사용 - css</a></li>
        <li><a href="js">정적 리소스 사용 - JS</a></li>
        <li><a href="path">예제 </a></li>
    </ol>

</body>
</html>