<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>방명록</h1>

    <a th:href="@{/write}">글쓰기</a>
    <table th:each="gb : ${guestbooklist}">
        <tr>
            <th>번호:</th>
            <td th:text="${gb.num}"></td>
        </tr>
        <tr>
            <th>작성자 :</th>
            <td th:text="${gb.name}"></td>
        </tr>
        <tr>
            <th>작성일 : </th>
            <td th:text="${#temporals.format(gb.inputdate, 'yy.MM.dd HH:mm:ss')}"></td>
        </tr>
        <tr>
            <td colspan="2">
                <textarea rows="4" cols="30" th:text="${gb.message}" readonly></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <form th:action="@{delete}" method="post">
                    <input type="hidden" name="num" th:value="${gb.num}">
                    <label> 비밀번호</label>
                    <input type="text" name="password" placeholder="비밀번호를 입력핫세요.." required>
                    <input type="submit" value="삭제">
                </form>
                <hr>
            </td>
        </tr>
    </table>


</body>
</html>