<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>updateForm.html</title>
    <script>
        window.onload = function(){
            let h1 = document.querySelector('h1');
            h1.addEventListener('click', function() {
                location.href="/";
            });
            const msg  = document.querySelector('#message');
            const cnt  = document.querySelector('#cnt');
            msg.addEventListener('input', function(){
                cnt.textContent = `(${msg.value.length} / 200)`;
            });

            const form = document.querySelector('form');
            form.addEventListener('submit', function(event) {
                let name  = document.querySelector('#name');
                let password  = document.querySelector('#password');

                if (name.value.length < 3){
                    alert('이름은 3자 이상 입력해주세요.');
                    name.focus();
                    name.select();
                    event.preventDefault();
                    return;
                }
                if (password.value.length < 5){
                    alert('비밀번호는 5자 이상 입력해주세요.');
                    password.focus();
                    password.select();
                    event.preventDefault();
                    return;
                }
            });
        }
    </script>
</head>
<body>
    <h1>[ 수정하기 ]</h1>
    <form id="form" th:action="@{update}" method="post">
        <input type="hidden" name="num" th:value="${guestbook.num}">
        이름<input type="text" name="name" id="name" th:value="${guestbook.name}" readonly><br>
        비밀번호<input type="password" name="password" id="password" th:value="${guestbook.password}"><br>
        내용<span id="cnt">(0 / 200 )</span>
        <textarea name="message" id="message" maxlength="200" th:text="${guestbook.message}"></textarea><br>
        <input type="submit" value="저장">
    </form>
<!--    <script>-->
<!--        let name = document.querySelector("#name");-->
<!--        let password = document.querySelector("#password");-->
<!--        document.querySelector("form").addEventListener('submit', (event)=> {-->
<!--            if(name.value.length < 3){-->
<!--                alert("3글자 이상 입력 !");-->
<!--                event.preventDefault();-->
<!--            }-->
<!--            if(password.value.length < 5){-->
<!--                alert("비밀번호 5자 이상");-->
<!--                event.preventDefault();-->
<!--            }-->
<!--        })-->
<!--    </script>-->
</body>
</html>