<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>writeForm.html</title>
</head>
<body>
    <h1>[ 글쓰기 ]</h1>
    <form id="form" th:action="@{write}" method="post">
        이름<input type="text" name="name" id="name"><br>
        비밀번호<input type="password" name="password" id="password"><br>
        내용<textarea name="message" id="message"></textarea><br>
        <input type="submit" value="저장">
    </form>
    <script>
        let name = document.querySelector("#name");
        let password = document.querySelector("#password");
        document.querySelector("form").addEventListener('submit', (event)=> {
            if(name.value.length < 3){
                alert("3글자 이상 입력 !");
                event.preventDefault();
            }
            if(password.value.length < 5){
                alert("비밀번호 5자 이상");
                event.preventDefault();
            }
        })
    </script>
</body>
</html>